* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
}
img {
  width: 100%;
}
.navbar-brand {
  width: 20%;
  color: white;
}
.navbar-brand:hover {
  color: #212a40;
}

.prim-nav-container {
  background-color: coral;
  height: 60px;
  display: flex;
}
.prim-nav-container ul {
  display: flex;
  align-items: center;
}
.nav-bar {
  background-color: #212a40;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-bar button {
  color: coral;
  background: none;
  border: none;
}
.nav-bar button:hover {
  background-color: coral;
  color: #212a40;
}
.nav-item a {
  background-color: coral;
  color: #212a40;
  padding: 10px 20px;
  text-decoration: none;
}

.nav-item a:hover,
.nav-item a:focus {
  background-color: #212a40;
  color: coral;
}
ul {
  padding: 0px;
  list-style: none;
}
input {
  border: lightgray 1px solid;
  border-radius: 5px;
  padding: 5px;
}
div p {
  justify-content: center;
  color: black;
  border: solid lightgray 1px;
  border-top: none;
  border-right: none;
  border-left: none;
}

.app-container {
  display: flex;
  padding: 30px;
}

.room-list-container {
  width: 25%;
  display: inline;
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.message-list-container {
  width: 75%;
  display: inline-block;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  justify-content: center;
  color: black;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.new-room-form {
  display: inline;
}
.room-list-buttons {
  background: none;
  color: black;
  border: none;
  font-family: "roboto";
  text-transform: lowercase;
  border-radius: 5px;
  padding: 5px 15px;
  text-align: start;
}
.room-list-buttons:hover,
.room-list-buttons:focus {
  color: coral;
}
.message-form-container {
  display: flex;
  justify-content: flex-end;
}
button {
  background-color: coral;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 5px;
}
button:hover {
  background-color: rgb(255, 162, 128);
}
.deletebutton {
  background-color: #212a40;
  color: coral;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 5px;
}
